.banner {
  position: relative;
  background-image: url('/public/images/background front.jpg'); /* Path to your image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh; /* Set height of the banner, adjust as needed */
  display: flex;
  flex-direction: column; /* Stack items vertically */
  justify-content: flex-start; /* Align items to the top */
  align-items: center;
  padding-top: 20px; /* Add space at the top */
}

/* New style for the h1 at the top of the banner */
.banner-title {
  font-size: 3rem;
  font-weight: bold;
  color: white;
  margin-bottom: 20px; /* Space between this title and the rest of the content */
  z-index: 2;
  text-align: center; /* Center the text */
}

/* Original content styling */
.banner-content {
  color: white;
  padding: 20px;
  max-width: 600px;
  z-index: 1;
}

.banner-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px; /* Adjust spacing between lines as needed */
}

.banner-content h1,
.banner-content p {
  color: white;
  margin: 0;
}

.banner-content h1 {
  font-size: 3rem;
  font-weight: bolder;
}

.banner-content p {
  font-size: 20px;
  font-weight: bold;
}

.banner-content .btn {
  position: relative;
  cursor: pointer;
  margin-top: 20px;
  z-index: 2;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 15px;
}

.banner-text{
  margin-top: 200px;
}

/* Media queries for responsiveness */
@media (max-width: 1024px) {
  .banner {
    height: 80vh;
    padding: 20px;
  }

  .banner-title {
    font-size: 2.5rem;
  }

  .banner-content {
    max-width: 100%;
    padding: 15px;
  }

  .banner-content h1 {
    font-size: 2.5rem;
  }

  .banner-content p {
    font-size: 18px;
  }

  .banner-content .btn {
    width: 100%;
    padding: 10px;
  }
}

@media (max-width: 768px) {
  .banner {
    height: 70vh;
  }

  .banner-title {
    font-size: 2rem;
  }

  .banner-content h1 {
    font-size: 2rem;
  }

  .banner-content p {
    font-size: 16px;
  }

  .banner-content .btn {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 576px) {
  .banner {
    height: auto;
    padding: 20px;
  }

  .banner-title {
    font-size: 1.5rem;
  }

  .banner-content h1 {
    font-size: 1.5rem;
  }

  .banner-content p {
    font-size: 14px;
  }

  .banner-content .btn {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
}